<div class="w3-row">
    <div class="w3-col w3-center l4 m12 s12" style="padding: 16px;">
        <img src="/assets/images/blogposts/{{ include.image1 }}" alt="{{ include.description1 }}" style="max-height: 350px;">
        <br> 
        <span class="caption" style="display: block; margin-top: 16px; margin-left: auto; margin-right: auto;">{{ include.description1 }}</span>
    </div>
    <div class="w3-col w3-center l4 m12 s12" style="padding: 16px;">
        <img src="/assets/images/blogposts/{{ include.image2 }}" alt="{{ include.description2 }}" style="max-height: 350px;">
        <br> 
        <span class="caption" style="display: block; margin-top: 16px; margin-left: auto; margin-right: auto;">{{ include.description2 }}</span>
    </div>
    <div class="w3-col w3-center l4 m12 s12" style="padding: 16px;">
        <img src="/assets/images/blogposts/{{ include.image3 }}" alt="{{ include.description3 }}" style="max-height: 350px;">
        <br> 
        <span class="caption" style="display: block; margin-top: 16px; margin-left: auto; margin-right: auto;">{{ include.description3 }}</span>
    </div>
</div>