<!-- Header -->
<header class="w3-panel w3-center" style="padding:20px; padding-bottom: 0px; margin-bottom: 0px;">
    <h1> Personal Webpage of <b>Francesco Ballerin</b></h1>
    <h1 class="w3-xlarge">PhD fellow at the University of Bergen</h1>
    
    <div class="w3-padding-32">
    <div class="w3-bar w3-border">
        <a href="/" class="w3-bar-item w3-button w3-mobile {% if page.page == 'index' %} w3-light-grey {% else %} w3-white {% endif %}">Home</a>
        <a href="/cv" class="w3-bar-item w3-button w3-mobile {% if page.page == 'cv' %} w3-light-grey {% else %} w3-white {% endif %}">CV</a>
        <a href="/research" class="w3-bar-item w3-button w3-mobile {% if page.page == 'research' %} w3-light-grey {% else %} w3-white {% endif %}">Research</a>
        <a href="/publ" class="w3-bar-item w3-button w3-mobile {% if page.page == 'publ' %} w3-light-grey {% else %} w3-white {% endif %}">Publications</a>
        <a href="/teaching" class="w3-bar-item w3-button w3-mobile {% if page.page == 'teaching' %} w3-light-grey {% else %} w3-white {% endif %}">Teaching</a>
        <div class="w3-dropdown-hover w3-mobile ">
        <button class="w3-button {% if page.url == '/extra' %} w3-light-grey {% else %} w3-white {% endif %}">Extra</button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <a href="//photos.ballerin.it" class="w3-bar-item w3-button w3-light-grey ">My photo portfolio</a>
        </div>
        </div>
    </div>
    </div>
</header>